@font-face {
    font-family: CastaThin;
    src: url("../font/Casta-Thin.otf") format("opentype");
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    html {
        background: #581b98;
    }
    
    body {
        height: 100vh!important;
        width: 100%;
        background: #581b98;
        /*background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);*/
    }

    .loading {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 120px;
        height: 120px;
    }

    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid rgb(247, 127, 0);
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { 
            transform: rotate(0deg);

        }
        100% { 
            transform: rotate(360deg); 
        }
    }

    .wrapper {
        height: 100%;
        width: 100%;
        position: relative;
    }
   
    .navi {
        height: auto;
        min-width: 150px;
        min-height: 500px;
        position: fixed;
        z-index: 99;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform:  translateY(-50%);
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .naviWrap {
        text-decoration: none;
        list-style: none;
        height: 100vh;
        width: 100%;
        position: relative;
    }

    .naviList {
        position: absolute;
        z-index: 9999999;
        display: flex;
        align-content: center;
        justify-content: center;
        width: 96.75px;
        height: 150px;
        background-image: linear-gradient(90deg, rgb(252, 191, 73), rgb(247, 127, 0));
        border-radius: 15px;
        transition: transform 400ms ease;
        transform: rotate(-45deg);
        left: 100px;
   }

    .naviWrap li:nth-child(1){
        top: 100px;
    }

    .naviWrap li:nth-child(2){
        top: 250px;
    }

    .naviWrap li:nth-child(3){
        top: 400px;
    }

    .naviWrap li:nth-child(4){
        top: 550px;
    }
    

    .naviList:before, .naviList:after {
        content: '';
        display: block;
        position: absolute;
        width: inherit;
        height: inherit;
        background-image: inherit;
        border-radius: inherit;
        left: 0;
   }

    .naviList:before {
        transform: rotate(60deg);
   }

    .naviList:after {
        transform: rotate(-60deg);
   }

    .icon {
        height: 25px;
        width: 25px;
        background-color: white;
        border-radius: 50%;
    }

    .iconWrap {
        height: 50px;
        width: 50px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .badge {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translate(-50%, 0); 
        height: 30px;
        background: rgb(214, 40, 40);
        border-radius: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .naviList:hover {
        text-decoration: none;
        box-shadow: 0 20px 50px rgba(8, 112, 184, 0.7);
    }

    .naviList a {
        text-decoration: none;
        color: #ffffff;
        font-size: 25px;
        font-family: CastaThin;
        text-transform: uppercase;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99999;
        width: 100%;
        position: relative;
    }

    
    .naviList a:visited {
        text-decoration: none;
    }

    .container {
        position: relative;
    }

    .home {
        height: 100vh;
        width: 100%;
        justify-content: center;
        display: flex;
        position: relative;
        margin-bottom: 50px;
    }

    .home h1 {
        color: #FFF;
        font-size: 100px;
        font-weight: bold;
        height: 20%;
        margin-top: 4%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);  
        z-index: 9;
        font-family: CastaThin;
    }

    .introBox {
        width: 40%;
        height: 20%;
        font-size: 80px;
        font-family: CastaThin;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);  
        z-index: 9;
        top: 30%;
        color: white;
        text-align: center;
    }

    .scrolldown {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        background-image: url('../img/scroll.gif');
        background-size: cover;
        background-repeat: no-repeat;
        width: 200px;
        height: 200px;
        cursor: pointer;
        z-index: 9;
    }

    .d1 {
        position: absolute;
        background-image: url("../img/4k-wallpaper-3.jpg");
        background-size: 2700px 1500px;
        height: 30vh;
        width: 15vw;
        background-position: 0 50%;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        animation: dd1 10s 1, dd12 10s 1;
        animation-delay: 4s, 14s;
    }

    .d2 {
        position: absolute;
        background-image: url("../img/4k-wallpaper-3.jpg");
        background-size: 2700px 1500px;
        height: 50vh;
        width: 25vw;
        background-position: -10vw 50%;
        left: 10vw;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        animation: dd2 10s 2;
        animation-delay: 4s;
    }

    .d3 {
        position: absolute;
        background-image: url("../img/4k-wallpaper-3.jpg");
        background-size: 2700px 1500px;
        overflow: hidden;
        height: 100vh;
        width: 40vw;
        left: 25vw;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
        background-position: -35vw 50%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        animation: dd3 10s 2;
        animation-delay: 4s;
    }

    .d4 {
        position: absolute;
        overflow: hidden;
        background-image: url("../img/4k-wallpaper-3.jpg");
        background-size: 2700px 1500px;
        height: 80vh;
        width: 25vw;
        left: 60vw;
        background-position: -70vw 50%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        animation: dd4 10s 2;
        animation-delay: 4s;
    }

    @keyframes dd1 {
        0% {
        }
        50% {
            width: 95vw;
        }
    }

    @keyframes dd12 {
        0% {
        }
        50% {
            background-position: Calc(0vw - 40px) 50%;
        }
    }

    @keyframes dd2 {
        0% {
        }
        50% {
            background-position: Calc(-10vw - 40px) 50%;
        }
    }

    @keyframes dd3 {
        0% {
        }
        50% {
            background-position: Calc(-35vw - 40px) 50%;
        }
    }

    @keyframes dd4 {
        0% {
        }
        50% {
            background-position: Calc(-70vw - 40px) 50%;
        }
    }
      
    .about {
        min-height: 700px;
        height: auto;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(88,27,152,1) 14%, rgba(255,255,255,0.3981967787114846) 86%);
        position: relative;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }

    .aboutBackgroundPic {
        background-image: url("../img/imageedit_1_5191402474.png");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 500px;
        height: auto;
        position: absolute;
        bottom: 0;
        z-index: 1;
    }

    .workBackgroundPic {
        background-image: url("../img/imageedit_11_4547119089.png");
        background-size: 75%;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: bottom;
        width: 50%;
        height: 50%;
        left: 50%;
        bottom: -20px;
        transform: translateX(-50%);
        position: absolute;
        z-index: 1;
    }


    .work {
        position: relative;
        min-height: 800px;
        height: auto;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,0.3981967787114846) 29%, rgba(88,27,152) 100%);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }

    .workCont {
        width: 100%;
        min-height: 500px;
        display: flex;
        flex-direction: row;
        justify-content:space-between; 
        z-index: 2;
        position: relative;
    }

    .leftBox {
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%; 
    }

    .rightBox {
        margin-right: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        width: 50%;
        align-items: flex-end;
    }

    .contact {
        min-height: 500px;
        height: auto;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,0.3981967787114846) 29%, rgba(88,27,152,1) 100%);
    }

    .box {
        min-height: 100%;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        background-color: rgb(63,59,59, 0.5);
        border-radius: 10px;
        z-index: 2;
        position: relative;
    }

    .boxTitle {
        height: 10%;
        font-size: 100px;
        text-transform: uppercase;
        color: rgb(250,238,28);
        text-align: center;
        border-top: 6px solid rgb(250,238,28);
        ;
    }

    .titleLine {
        border-top: 12px solid rgb(250,238,28);
        display: inline-block;
    }

    .profilePic {
		min-width: 250px;
		min-height: 250px;
		background-image: url(https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/attachments/delivery/asset/479fc76450e926206501a7b9594db107-1594511054/Order-norbert_rs/draw-nice-style-cartoon-caricature-as-a-profile-picture.jpg);
		background-size: 100% 100%;
        border-radius: 50%;
        margin-left: 15%;
    }

    .aboutBox {
        color: white;
        margin-right: 15%;
        margin-left: 10%;
        min-width: 500px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .aboutBox p {
        margin-bottom: 5px;
    }

    .aboutBox ul {
        list-style: inside;
        margin-left: 10px;
    }

    .aboutBox ul li {
        margin-bottom: 5px;
    }

    .item {
        background-color: #3f3b3b;
        color: white;
        height: 200px;
        width: 95%;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 10px;
        background-color: rgb(63,59,59, 0.5);
    }

    .itemContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 20px;
        margin-right: 20px;
    }

    .itemContent p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .itemContent ul {
        list-style: inside;
        margin-left: 10px;
    }

    .itemContent ul li {
        margin-bottom: 5px;
    }

    .box-unblur {
        animation: unblur 2s linear forwards;
    }

    @keyframes unblur {
        0% { 
        }
        100% { 
            -webkit-filter: blur(0px);
            -moz-filter: blur(0px);
            -o-filter: blur(0px);
            -ms-filter: blur(0px);
            filter: blur(0px)!important;
        }
    }
    
}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    body {
        height: 100vh;
        width: 100vh;
        overflow: hidden;
    }

    .navi {
        height: 50%;
        position: fixed;
        top: 50%;
        background-color: red;
    }
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    body {
        height: 100vh;
        width: 100vh;
        overflow: hidden;
    }

    .navi {
        height: 50%;
        position: fixed;
        top: 50%;
        left: 0;
        background-color: red;
    }
}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

}